.advantages {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    &__header {
        font-size: 30px;
        font-weight: 700;
        color: #0d0d0d;
        text-align: center;
    }
    &__icons {
        width: 921px;
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-top: 65px;
    }
    &__icon {
        width: 250px;
        height: 240px;
        text-align: center;

        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__text {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
        margin-top: 26px;
        a {
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            text-decoration: underline;
            color: #ff0000;
        }
    }
    &__title {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
}
