.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $main_color;
        width: 460px;
        height: 270px;
    }
    &__addr {
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        color: #ffffff;
        margin-bottom: 0;
    }
    &__phone {
        margin-top: 38px;
        display: block;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        &:hover {
            color: #ffffff;
        }
    }
    &__social {
        margin: 0 auto;
        margin-top: 38px;
        display: flex;
        width: 210px;
        justify-content: space-between;
    }
}
